.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1px;
  margin-top: 15px;
  padding-left: 15px;
}

.Footer .links {
  display: flex;
  gap: 50px;
  padding-right: 50px;
}

.Footer a {
  display: block;
  margin: 10px 0;
  color: rgb(192, 45, 26);;
  text-decoration: none;
}

.Footer a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.copyright {
  color: white;
}